body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F9FAFB;
  color: #111827;
}

.navbar {
  background: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.logo {
  font-size: 1.6rem;  /* maior */
  font-weight: 300;   /* mais fino */
  letter-spacing: 1px;
  color: #2563EB;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-card {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 370px;
  text-align: center;
}

.login-card h1 {
  margin-bottom: 0.5rem;
  color: #2563EB;
}

.login-card p {
  margin-bottom: 1.5rem;
  color: #6B7280;
}

.login-card input {
  width: 92%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 1rem;
}

.login-card input:focus {
  border-color: #2563EB;
}

.password-field {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-70%);
  cursor: pointer;
  font-size: 1.1rem;
  color: #6B7280;
}

.toggle-password:hover {
  color: #2563EB;
}

.login-card button {
  width: 100%;
  padding: 0.8rem;
  transform: translateY(14px);
  background: #2563EB;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card button:hover {
  background: #142f88;
}

.register-text {
  transform: translateY(10px);
  margin-top: 1rem;
  font-size: 0.9rem;
}
.register-text a {
  color: #2563EB;
  text-decoration: none;
}
.register-text a:hover {
  text-decoration: underline;
}

.aviso {
  font-size: 12px; 
  position: absolute; 
  font-style: italic; 
  transform: translateY(-20px);
  margin: 5px; 
  color: #6B7280;
}
